{
  "extends": [
    "eslint:recommended",
    "idiomatic"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": ["error", "always"]
  }
}
